{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "node": "current" } // Only compile syntax needed for the version of Node running your tests
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"// Enable the new JSX transform so you don’t need to import React in every file
      }
    ]
  ]
}